{% extends 'blog_base.html' %}

{% block content %}

    <div class="container" style="margin-top: 100px;;background: #808080">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>关于博客的一切</h1>
            </div>
             </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-2 btn-primary text-center  " >
                <h3>ABOUT</h3>
                    <p>me</p>
            </div>
            <div class="col-md-10" style="background: #dcdcdc">
            福娃打我哇啊娃娃
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                福娃打我哇啊娃娃
            </div>
            <div class="col-md-2 btn-primary text-center">
                <h3>ABOUT</h3>
                    <p>GONNER's SITE</p>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-10"></div>
        </div>

    </div>
{% endblock %}