{% extends 'blog_base.html' %}

{% block content %}

    <div class="container" style="margin-top: 80px;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>关于博客的一切</h1>
            </div>
             </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-2 btn-primary text-center left-radius" style="height: 150px;padding-top: 33px;" >
                <h3>ABOUT</h3>
                    <p>Me</p>
            </div>
            <div class="col-md-10 right-radius" style="background: #dcdcdc;height: 150px;padding-top: 20px;">
                <p>80后非科班码农一枚，热爱计算机并且喜欢折腾新事物。</p>
                <p>平时主要用Python和Django，会一些后端，也会写一些前端，希望有一天能够成为真正的Full Stack。</p>
                <p>利用业余时间写了这个博客，可以记录和分享一些平时的知识和有趣的事情。</p>
                <p>也希望借这个博客可以认识更多的朋友。</p>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-10 left-radius" style="background: #dcdcdc;height: 160px;padding-top: 25px">
                <P>Gonner's Site所有编码由我独自完成，界面是向一位朋友学习的,希望这位朋友不要介意。</P>
                <P>目前博客初步功能已经完成，很多细节和功能仍需完善。</P>
                <p>后端由django框架开发，前端采用了BootStrap排版。感叹一下没有设计功底的码农做前端真是累，怎么做都感觉不好看。</p>
                <p>目前只是在服务器上面运行了runserver，域名尚未备案。</p>
            </div>
            <div class="col-md-2 btn-primary text-center right-radius" style="height:160px;">
                <h3 style="padding-top: 20px">ABOUT</h3>
                    <p>Gonner's Site</p>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-2 btn-primary text-center left-radius" style="height: 180px;padding-top: 40px">
                <h3>ABOUT</h3>
                <p>Copyright</p>
            </div>
            <div class="col-md-10 right-radius" style="background: #dcdcdc;height: 180px;padding-top: 25px">
                <p>博客中大多为我的个人原创，当然也不乏转载的文章，这些我会在博客开始处特别说明。您可以自由地转载我的博客，但请标明出处。</p>
<p>站点中非原创的文章均来自互联网，其所有版权归原作者所有，并且其中的所有内容仅代表我个人的一些兴趣、喜好与立场，如果您也喜欢，我很高兴能和您一同分享。</p>
<p>如果您是文章或图片的作者并觉得有不妥之处，请随时与我联系，我会及时加注版权信息或在您不允许本站使用您的作品的情况下及时删除相关内容。</p>
            </div>
        </div>

    </div>
    <br><br>
{% endblock %}