{% extends 'blog_base.html' %}

{% block title%}Contact Me{% endblock %}
{% block content %}
    <div class="contantBox pt26 " >
        <h3 class="text-center">与我联系</h3>
        <div class="contactNotice bg2 fs16 text-center">
            <p>如果您对我的个人网站有任何建议和见解，或者交个朋友一起交流兴趣爱好，或是一些其它的原因，都可以随时与我联系。</p>
        </div>
    </div>
    <div class="contactForm">
        <div style="width:300px">
            <div><img src="/static/img/qq_logo.png">154759124</div>
            <div><img src="/static/img/mail_logo.png">jack_czm@vip.sina.com</div>
        </div>
        <div class="contactForm">
            <form action="" method="post" >

            </form>

        </div>

    </div>
{% endblock %}