{% extends "czm_blog_list.html" %}



{% block title%}{{ blog.title|title }}{% endblock %}

{#{% block article %}#}
{#    <br>#}
{#    <br>#}
{#    <br><br>#}
{#{% endblock %}#}
{% block article %}

    <br><br><br><br>
    <div>
        <div class="topBox" style="">

                <span class="fs36" id="time_year">{{ blog.publish_time|date:'Y' }}</span>
                <span class="fs24" id="time_date">{{ blog.publish_time|date:'Nd' }}</span>
            </div>
            <div class="infoBox" >
                <div class="" id="blog_title">
                    <a href="{% url 'czm_blog_show' blog.id %}"><p class="h3">{{ blog.title }}</p></a>
                </div>
                <div class="fs14 bg2" id="">

                    {% for blog_tag in blog_tags %}
                        <span class="fltflt" id="blog_tags"><a class="glyphicon glyphicon-tag"></a>{{ blog_tag }}</span>
                    {% endfor %}
                </div>
            <br>
            </div>

        {% autoescape off %}
            {{ blog.content }}
        {% endautoescape %}
</div>
    <hr>

{% endblock %}


    {% block comments %}
        {% if comment_count %}
            <div class="comment_box">
                <div class="comment_title">
                   <h3>有{{ comment_count }}条留言:</h3>
                </div>
                <br>
                {% for comment in comments %}
                    <div class="commentatorInfo bg2" style="background: #dcdcdc;height: 40px;line-height: 40px;text-indent: 2%;border-radius: 10px">
                        来自<span class="text-danger">{{ comment.ip_address }}</span>的用户：<a class="glyphicon glyphicon-user"></a>{{ comment.author }} 发表于{{ comment.publish_time|date:'Y-m-d H:m:s' }}
                    </div>
                    <div class="text-primary bg-info" style="height:50px;line-height: 50px;text-indent: 2%;border-radius: 10px" >
                        {{ comment.comment }}
                    </div>
                    <br>

            {% endfor %}

            </div>

        {% else %}
            <div class="comment_box text-danger">
                <h3>看帖不回，内地轮回</h3>
            </div>
        {% endif %}

        <br>
        <div class="comment_box">
            <div class="comment_title">
                <span class="h3">您可以在下面填写留言:</span>
            </div>
            <br>
            <div class="背景色">
                <div class="bg1" id="contact-from_box">
                    <form action="{% url 'czm_blog_comment_add' blog.id %}" method="post" >
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" maxlength="50" name="comment_name" placeholder="您的姓名" type="text" style="width: 40%">
                        </div>

                        <div class="form-group">
                            <input class="form-control" maxlength="75" name="comment_email" placeholder="您的邮箱地址" type="text" style="width: 40%">
                        </div>
                        <div class="form-group">
                            <input class="form-control" maxlength="200" name="comment_website" placeholder="您的个人网址" type="text" style="width: 40%">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" cols="40" rows="5" name="comment" placeholder="期待您的评论"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">提交</button>
                        </div>
                    </form>
                    <br><br>
                </div>
            </div>

        </div>
    {% endblock %}
