{% extends 'blog_base.html' %}

{% block title %}新增Blog{% endblock %}

{% block article %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="field">
            <label for="id_title">Title:</label>
            {% if form.title.errors %}
                <div class="alert alert-error">
                    {{ form.title.errors }}
                </div>
            {% endif %}
            {{ form.title }}
        </div>
        <div class="field">
            <label for="id_content">Content:</label>
            {% if form.content.errors %}
                <div class="alert alert-error">
                    {{ form.content.errors }}
                </div>
            {% endif %}
            {{ form.content }}
        </div>
        <div class="field">
            <label for="id_tag">Tags</label>
            {% if tag.tag_name.errors %}
                <div class="alert alert-error">
                    {{ tag.tag_name.errors }}
                </div>
            {% endif %}
            {{ tag.tag_name }}
        </div>
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="新增并保存Blog">
        </div>
    </form>

{% endblock %}