{% extends 'blog_base.html' %}
{% block title%}Index{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="normBox text-center" style="margin-top: 70px">
            <div class="fs36 block h2">欢迎您的来访</div>
            <div class="fs28 block pt22 enFort h2" style="margin-top: 30px;margin-bottom: 30px">Welcome to Gooner's Site</div>
        </div>
    </div>
    <br>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4" style="margin-left: -15px">
                <img src="/static/img/gooner.jpg" width="300px">
            </div>
            <div class="col-md-8" style="background: #dcdcdc;height: 188px;width: 630px">
            <div class="h4" style="float: right">My Favorite</div>
                <p class="text-left" style="clear: both">
                    这是我从高中时代就喜爱的球队，一只北伦敦足球俱乐部。
                </p>
                <p class="text-left">
                    有过辉煌，也有过没落。
                </p>
                <p class="text-left">
                    无论是顺境还是逆境，我都将生死追随。
                </p>
                <p class="text-left">
                    Once a gooner, always a gooner.
                </p>
                <p class="text-left">
                    谨将我的第一个博客献给我挚爱的阿森纳。
                </p>

            </div>

        </div>
    </div>
    <br>
    <br>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3  col-md-offset-1 sort" style="margin-left: -1px">
                <ul class="list-unstyled">
                    <li class="h4">分类排行</li>
                    {% for first_five_tag in first_five_tags%}
                        <li style="padding: 5px">
                            <a href="{% url 'filter_czm_blog_by_tag' first_five_tag.id %}">
                            {{ first_five_tag.tag_name }} ({{ first_five_tag.tag_count }})
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="listBox fltflt ml57 col-md-3 sort">
                <ul class="list-unstyled">
                    <li class="h4">最近更新</li>
                    {% for last_blog_by_publish_date in last_blogs_by_publish_date %}
                        <li style="padding: 5px">
                            <a href="{% url 'czm_blog_show' last_blog_by_publish_date.id  %}">
                                {{ last_blog_by_publish_date.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="listBox fltflt ml57 col-md-3 sort">
                <ul class="list-unstyled">
                    <li class="h4">热门排行</li>
                    {% for random_five_blog in random_five_blogs %}
                        <li style="padding: 5px">
                            <a href="{% url 'czm_blog_show' random_five_blog.id  %}">
                                {{ random_five_blog.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

    </div>
        <br>
        <div class="text-center h3 col-md-12" id="blog_nav_box" style="background: #dcdcdc;height: 40px;line-height: 40px">
            <a href="{% url 'czm_blog_list' %}">进入博客</a>
        </div>
    </div>
{% endblock %}