.sort{background: #dcdcdc;font-size:110%;margin-right: 30px;width: 293px}
body{font-family: 'Microsoft YaHei'}


.two-list{
width:200px;
margin-left:112px;
padding:0px;
    line-height: 30px;
    margin-top: 20px;
}

.two-list li{
float:left;
width:50%;
}

.left-radius{border-top-left-radius: 20px;border-bottom-left-radius: 20px}
.right-radius{border-top-right-radius:20px;border-bottom-right-radius:20px}